

    <div class="container" ng-controller="MovieDetailController">
        <div class="row row-content">
            <div class="col-xs-12">

                <div class="col-xs-12">
                    <div ng-if="!showMovie">
                      <h3>{{message}}</h3>
                    </div>
                    <div ng-if="showMovie">
                        <button class="btn btn-xs btn-primary pull-right"
                            type="button" ui-sref="app.movies">
                            Back to Movies
                        </button>
                
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                <img class="media-object img-thumbnail"
                                 ng-src={{movie.image}} alt="{{movie.title}}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h2 class="media-heading">{{movie.title}}
                                 <span class="label label-danger">{{movie.rating}}</span>
                                 <span class="badge">{{dish.price | currency}}</span></h2>
                                <p>{{movie.date}}</p>
                                <p>{{movie.run_time}}</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
