

    <div class="container" ng-controller="MoviesController">
        <div class="row">
            <div class="col-xs-12 search-box">
                <input type="text"ng-model="search.title" class="form-control" placeholder="search"></input>
            <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <dir-pagination-controls 
                  max-size="5" 
                  direction-links="true"
                  boundary-links="false" >
                </dir-pagination-controls>
            </div>
            <div class="col-xs-12 col-sm-2 sort-dd">
                  <select class="form-control" ng-model="sortKey">
                      <option value="date">Date</option>
                      <option value="name">Name</option>
                  </select>

            </div>
        </div>
        <hr>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                  <div ng-if="!showPictures">
                      <h3>{{message}}</h3>
                  </div>
                   <ul class="media-list" ng-if="showPictures">
                    <!--li class="media" ng-repeat="picture in pictures | filter:search | filter:selectedYear"-->
                    <li class="media" dir-paginate="picture in pictures | itemsPerPage:5 | filter:search | orderBy:sortKey">
                        <div class="media-left media-middle">
                            <a ui-sref="app.moviedetails({slug: picture.slug})">
                            <img class="media-object img-thumbnail" ng-src={{picture.image}} alt="{{picture.name}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{picture.title | uppercase}}
                                <span class="badge">{{picture.rating | uppercase}}</span>
                            </h2>
                            <div class="row">
                              <div class="col-xs-12 col-sm-4">
                                  <button class="btn btn-primary">Add to Watchlist</button>
                              </div>
                              <div class="col-xs-12 col-sm-8">
                                <label>Release Date: </label><span>  {{picture.date | date:mediumDate}}<br></span>
                                <label>Run Time: </label><span>  {{picture.run_time}}</span>
                              </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
       </div>

    </div>
